<ion-header>
  <ion-toolbar>
    <ion-title>Finalizar Pedido</ion-title>
    <ion-buttons slot='start'>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-item>
      <ion-label position="floating">Qual o seu CEP?</ion-label>
      <ion-input #cep></ion-input>
    </ion-item>
    <div class="ion-padding">
      <ion-button color="danger" expand="block" (click)="buscar(cep)">Buscar</ion-button>
    </div>
  </div>
</ion-content>